USE [Suplex]
GO
/****** Object:  Table [dbo].[SPLX_USERS]    Script Date: 08/16/2010 22:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPLX_USERS](
	[SPLX_USER_ID] [uniqueidentifier] NOT NULL,
	[USER_NAME] [varchar](50) NOT NULL,
	[USER_DESC] [varchar](255) NULL,
	[USER_LOCAL] [bit] NOT NULL,
	[USER_PASSWORD] [varbinary](50) NULL,
	[USER_BUILT_IN] [bit] NOT NULL,
	[USER_ENABLED] [bit] NOT NULL,
	[USER_LAST_LOGIN] [datetime] NULL,
	[USER_LAST_LOGIN_ATTEMPT] [datetime] NULL,
	[USER_LOGIN_TRIES] [int] NOT NULL,
 CONSTRAINT [PK_SPLX_USERS] PRIMARY KEY CLUSTERED 
(
	[SPLX_USER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPLX_UI_ELEMENTS]    Script Date: 08/16/2010 22:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPLX_UI_ELEMENTS](
	[SPLX_UI_ELEMENT_ID] [uniqueidentifier] NOT NULL,
	[UIE_NAME] [varchar](50) NOT NULL,
	[UIE_CONTROL_TYPE] [varchar](50) NULL,
	[UIE_DESC] [varchar](255) NULL,
	[UIE_DESC_TOOLTIP] [bit] NOT NULL,
	[UIE_UNIQUE_NAME] [varchar](50) NULL,
	[UIE_DATA_TYPE] [varchar](50) NULL,
	[UIE_DATA_TYPE_ERR_MSG] [varchar](255) NULL,
	[UIE_FORMAT_STRING] [varchar](50) NULL,
	[UIE_ALLOW_UNDECLARED] [bit] NOT NULL,
	[UIE_PARENT_ID] [uniqueidentifier] NULL,
	[UIE_DACL_INHERIT] [bit] NULL,
	[UIE_SACL_INHERIT] [bit] NULL,
	[UIE_SACL_AUDIT_TYPE_FILTER] [int] NULL,
 CONSTRAINT [PK_SPLX_UI_ELEMENT_ID] PRIMARY KEY CLUSTERED 
(
	[SPLX_UI_ELEMENT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPLX_TASKS]    Script Date: 08/16/2010 22:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPLX_TASKS](
	[SPLX_TASK_ID] [int] IDENTITY(1,1) NOT NULL,
	[TASK_NAME] [varchar](50) NOT NULL,
	[TASK_DESC] [varchar](255) NULL,
	[TASK_ENABLED] [bit] NOT NULL,
 CONSTRAINT [PK_SPLX_TASK_ID] PRIMARY KEY CLUSTERED 
(
	[SPLX_TASK_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPLX_GROUPS]    Script Date: 08/16/2010 22:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPLX_GROUPS](
	[SPLX_GROUP_ID] [uniqueidentifier] NOT NULL,
	[GROUP_NAME] [varchar](300) NOT NULL,
	[GROUP_DESC] [varchar](255) NULL,
	[GROUP_LOCAL] [bit] NOT NULL,
	[GROUP_BUILT_IN] [bit] NOT NULL,
	[GROUP_ENABLED] [bit] NOT NULL,
 CONSTRAINT [PK_SPLX_GROUPS] PRIMARY KEY CLUSTERED 
(
	[SPLX_GROUP_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPLX_AUDIT_LOG]    Script Date: 08/16/2010 22:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPLX_AUDIT_LOG](
	[SPLX_AUDIT_LOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[AUDIT_DTTM] [datetime] NOT NULL,
	[SPLX_USER_ID] [uniqueidentifier] NOT NULL,
	[USER_NAME] [varchar](50) NULL,
	[COMPUTER_NAME] [varchar](50) NULL,
	[AUDIT_TYPE] [varchar](50) NOT NULL,
	[AUDIT_SOURCE] [varchar](255) NOT NULL,
	[AUDIT_CATEGORY] [varchar](50) NOT NULL,
	[AUDIT_DESC] [varchar](2000) NULL,
 CONSTRAINT [PK_SPLX_AUDIT_LOG] PRIMARY KEY CLUSTERED 
(
	[SPLX_AUDIT_LOG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Default location for audit entries.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SPLX_AUDIT_LOG'
GO
/****** Object:  Table [dbo].[SPLX_VALIDATION_RULES]    Script Date: 08/16/2010 22:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPLX_VALIDATION_RULES](
	[SPLX_VAILDATION_RULE_ID] [uniqueidentifier] NOT NULL,
	[VR_NAME] [varchar](50) NULL,
	[VR_EVENT_BINDING] [varchar](50) NULL,
	[VR_COMPARE_VALUE1] [varchar](255) NULL,
	[VR_EXPRESSION_TYPE1] [varchar](50) NULL,
	[VR_VALUE_TYPE1] [varchar](50) NULL,
	[VR_COMPARE_VALUE2] [varchar](255) NULL,
	[VR_EXPRESSION_TYPE2] [varchar](50) NULL,
	[VR_VALUE_TYPE2] [varchar](50) NULL,
	[VR_COMPARE_DATA_TYPE] [varchar](50) NULL,
	[VR_OPERATOR] [varchar](50) NULL,
	[VR_ERROR_MESSAGE] [varchar](255) NULL,
	[VR_ERROR_UIE_UNIQUE_NAME] [varchar](50) NULL,
	[VR_FAIL_PARENT] [bit] NOT NULL,
	[VR_RULE_TYPE] [varchar](50) NOT NULL,
	[VR_PARENT_ID] [uniqueidentifier] NULL,
	[SPLX_UI_ELEMENT_ID] [uniqueidentifier] NOT NULL,
	[VR_SORT_ORDER] [int] NOT NULL,
 CONSTRAINT [PK_SPLX_VAILDATION_RULE_ID] PRIMARY KEY CLUSTERED 
(
	[SPLX_VAILDATION_RULE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPLX_NESTED_GROUPS]    Script Date: 08/16/2010 22:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPLX_NESTED_GROUPS](
	[SPLX_NESTED_GROUP_ID] [int] IDENTITY(1,1) NOT NULL,
	[PARENT_GROUP_ID] [uniqueidentifier] NOT NULL,
	[CHILD_GROUP_ID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SPLX_NESTED_GROUP_ID] PRIMARY KEY CLUSTERED 
(
	[SPLX_NESTED_GROUP_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SPLX_EXTERNAL_GROUPS_CACHE]    Script Date: 08/16/2010 22:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPLX_EXTERNAL_GROUPS_CACHE](
	[SPLX_EXTERNAL_GROUPS_CACHE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SPLX_USER_ID] [uniqueidentifier] NOT NULL,
	[CACHE_DATE] [datetime] NOT NULL,
	[EXPIRATION_DATE] [datetime] NOT NULL,
	[GROUP_LIST] [varchar](max) NULL,
 CONSTRAINT [PK_SPLX_EXTERNAL_GROUPS_CACHE] PRIMARY KEY CLUSTERED 
(
	[SPLX_EXTERNAL_GROUPS_CACHE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPLX_ACES]    Script Date: 08/16/2010 22:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPLX_ACES](
	[SPLX_ACE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACE_ACCESS_MASK] [int] NOT NULL,
	[ACE_ACCESS_TYPE1] [bit] NOT NULL,
	[ACE_ACCESS_TYPE2] [bit] NULL,
	[ACE_INHERIT] [bit] NOT NULL,
	[ACE_TYPE] [varchar](50) NOT NULL,
	[ACE_TRUSTEE_USER_GROUP_ID] [uniqueidentifier] NOT NULL,
	[SPLX_UI_ELEMENT_ID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SPLX_ACES] PRIMARY KEY CLUSTERED 
(
	[SPLX_ACE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Used in Access Aces for specifying Allowed/Denied access.  Used in Audit Aces for specifying to audit access success.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SPLX_ACES', @level2type=N'COLUMN',@level2name=N'ACE_ACCESS_TYPE1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Used for Audit Aces, when specifying to audit access failure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SPLX_ACES', @level2type=N'COLUMN',@level2name=N'ACE_ACCESS_TYPE2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contains Access and Audit access control entries.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SPLX_ACES'
GO
/****** Object:  Table [dbo].[SPLX_GROUP_MEMBERSHIP]    Script Date: 08/16/2010 22:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPLX_GROUP_MEMBERSHIP](
	[SPLX_GROUP_MEMBERSHIP_ID] [int] IDENTITY(1,1) NOT NULL,
	[SPLX_GROUP_ID] [uniqueidentifier] NOT NULL,
	[SPLX_USER_ID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SPLX_GROUP_MEMBERSHIP_ID] PRIMARY KEY CLUSTERED 
(
	[SPLX_GROUP_MEMBERSHIP_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SPLX_TASK_TRUSTEE]    Script Date: 08/16/2010 22:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPLX_TASK_TRUSTEE](
	[SPLX_TASK_TRUSTEE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SPLX_TASK_ID] [int] NOT NULL,
	[TRUSTEE_USER_GROUP_ID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SPLX_TASK_TRUSTEE] PRIMARY KEY CLUSTERED 
(
	[SPLX_TASK_TRUSTEE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SPLX_RIGHT_ROLES]    Script Date: 08/16/2010 22:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPLX_RIGHT_ROLES](
	[SPLX_RIGHT_ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[RR_ACE_TYPE] [varchar](50) NOT NULL,
	[RR_RIGHT_NAME] [varchar](50) NOT NULL,
	[RR_UIE_UNIQUE_NAME] [varchar](500) NOT NULL,
	[RR_UI_RIGHT] [varchar](50) NOT NULL,
	[SPLX_UI_ELEMENT_RULE_ID] [uniqueidentifier] NOT NULL,
	[RR_ROLE_TYPE] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_SPLX_RIGHT_ROLES] PRIMARY KEY CLUSTERED 
(
	[SPLX_RIGHT_ROLE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPLX_FILLMAP_EXPRESSIONS]    Script Date: 08/16/2010 22:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPLX_FILLMAP_EXPRESSIONS](
	[SPLX_FILLMAP_EXPRESSION_ID] [int] IDENTITY(1,1) NOT NULL,
	[FME_NAME] [varchar](50) NULL,
	[FME_EVENT_BINDING] [varchar](50) NULL,
	[FME_EXPRESSION] [varchar](1000) NULL,
	[FME_EXPRESSION_TYPE] [varchar](50) NULL,
	[FME_IF_CLAUSE] [bit] NOT NULL,
	[FME_SORT_ORDER] [int] NOT NULL,
	[SPLX_UIE_VR_PARENT_ID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SPLX_FILLMAP_EXPRESSION_ID] PRIMARY KEY CLUSTERED 
(
	[SPLX_FILLMAP_EXPRESSION_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPLX_FILLMAP_DATABINDINGS]    Script Date: 08/16/2010 22:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPLX_FILLMAP_DATABINDINGS](
	[SPLX_FILLMAP_DATABINDING_ID] [int] IDENTITY(1,1) NOT NULL,
	[FMB_UIE_UNIQUE_NAME] [varchar](500) NULL,
	[FMB_PROPERTY_NAME] [varchar](50) NULL,
	[FMB_VALUE] [varchar](50) NULL,
	[FMB_TYPECAST_VALUE] [bit] NOT NULL,
	[FMB_OVERRIDE_VALUE] [bit] NOT NULL,
	[SPLX_FILLMAP_EXPRESSION_ID] [int] NOT NULL,
 CONSTRAINT [PK_SPLX_FILLMAP_DATABINDINGS] PRIMARY KEY CLUSTERED 
(
	[SPLX_FILLMAP_DATABINDING_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_SPLX_ACES_SPLX_GROUPS]    Script Date: 08/16/2010 22:06:31 ******/
ALTER TABLE [dbo].[SPLX_ACES]  WITH NOCHECK ADD  CONSTRAINT [FK_SPLX_ACES_SPLX_GROUPS] FOREIGN KEY([ACE_TRUSTEE_USER_GROUP_ID])
REFERENCES [dbo].[SPLX_GROUPS] ([SPLX_GROUP_ID])
GO
ALTER TABLE [dbo].[SPLX_ACES] NOCHECK CONSTRAINT [FK_SPLX_ACES_SPLX_GROUPS]
GO
/****** Object:  ForeignKey [FK_SPLX_ACES_SPLX_UI_ELEMENTS]    Script Date: 08/16/2010 22:06:31 ******/
ALTER TABLE [dbo].[SPLX_ACES]  WITH CHECK ADD  CONSTRAINT [FK_SPLX_ACES_SPLX_UI_ELEMENTS] FOREIGN KEY([SPLX_UI_ELEMENT_ID])
REFERENCES [dbo].[SPLX_UI_ELEMENTS] ([SPLX_UI_ELEMENT_ID])
GO
ALTER TABLE [dbo].[SPLX_ACES] CHECK CONSTRAINT [FK_SPLX_ACES_SPLX_UI_ELEMENTS]
GO
/****** Object:  ForeignKey [FK_SPLX_ACES_SPLX_USERS]    Script Date: 08/16/2010 22:06:31 ******/
ALTER TABLE [dbo].[SPLX_ACES]  WITH NOCHECK ADD  CONSTRAINT [FK_SPLX_ACES_SPLX_USERS] FOREIGN KEY([ACE_TRUSTEE_USER_GROUP_ID])
REFERENCES [dbo].[SPLX_USERS] ([SPLX_USER_ID])
GO
ALTER TABLE [dbo].[SPLX_ACES] NOCHECK CONSTRAINT [FK_SPLX_ACES_SPLX_USERS]
GO
/****** Object:  ForeignKey [FK_SPLX_EXTERNAL_GROUPS_CACHE_SPLX_USERS]    Script Date: 08/16/2010 22:06:31 ******/
ALTER TABLE [dbo].[SPLX_EXTERNAL_GROUPS_CACHE]  WITH CHECK ADD  CONSTRAINT [FK_SPLX_EXTERNAL_GROUPS_CACHE_SPLX_USERS] FOREIGN KEY([SPLX_USER_ID])
REFERENCES [dbo].[SPLX_USERS] ([SPLX_USER_ID])
GO
ALTER TABLE [dbo].[SPLX_EXTERNAL_GROUPS_CACHE] CHECK CONSTRAINT [FK_SPLX_EXTERNAL_GROUPS_CACHE_SPLX_USERS]
GO
/****** Object:  ForeignKey [FK_SPLX_FILLMAP_DATABINDINGS_SPLX_FILLMAP_EXPRESSIONS]    Script Date: 08/16/2010 22:06:31 ******/
ALTER TABLE [dbo].[SPLX_FILLMAP_DATABINDINGS]  WITH CHECK ADD  CONSTRAINT [FK_SPLX_FILLMAP_DATABINDINGS_SPLX_FILLMAP_EXPRESSIONS] FOREIGN KEY([SPLX_FILLMAP_EXPRESSION_ID])
REFERENCES [dbo].[SPLX_FILLMAP_EXPRESSIONS] ([SPLX_FILLMAP_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[SPLX_FILLMAP_DATABINDINGS] CHECK CONSTRAINT [FK_SPLX_FILLMAP_DATABINDINGS_SPLX_FILLMAP_EXPRESSIONS]
GO
/****** Object:  ForeignKey [FK_SPLX_FILLMAP_EXPRESSIONS_SPLX_UI_ELEMENTS]    Script Date: 08/16/2010 22:06:31 ******/
ALTER TABLE [dbo].[SPLX_FILLMAP_EXPRESSIONS]  WITH NOCHECK ADD  CONSTRAINT [FK_SPLX_FILLMAP_EXPRESSIONS_SPLX_UI_ELEMENTS] FOREIGN KEY([SPLX_UIE_VR_PARENT_ID])
REFERENCES [dbo].[SPLX_UI_ELEMENTS] ([SPLX_UI_ELEMENT_ID])
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[SPLX_FILLMAP_EXPRESSIONS] NOCHECK CONSTRAINT [FK_SPLX_FILLMAP_EXPRESSIONS_SPLX_UI_ELEMENTS]
GO
/****** Object:  ForeignKey [FK_SPLX_FILLMAP_EXPRESSIONS_SPLX_VALIDATION_RULES]    Script Date: 08/16/2010 22:06:31 ******/
ALTER TABLE [dbo].[SPLX_FILLMAP_EXPRESSIONS]  WITH NOCHECK ADD  CONSTRAINT [FK_SPLX_FILLMAP_EXPRESSIONS_SPLX_VALIDATION_RULES] FOREIGN KEY([SPLX_UIE_VR_PARENT_ID])
REFERENCES [dbo].[SPLX_VALIDATION_RULES] ([SPLX_VAILDATION_RULE_ID])
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[SPLX_FILLMAP_EXPRESSIONS] NOCHECK CONSTRAINT [FK_SPLX_FILLMAP_EXPRESSIONS_SPLX_VALIDATION_RULES]
GO
/****** Object:  ForeignKey [FK_SPLX_GROUP_MEMBERSHIP_SPLX_GROUPS]    Script Date: 08/16/2010 22:06:31 ******/
ALTER TABLE [dbo].[SPLX_GROUP_MEMBERSHIP]  WITH CHECK ADD  CONSTRAINT [FK_SPLX_GROUP_MEMBERSHIP_SPLX_GROUPS] FOREIGN KEY([SPLX_GROUP_ID])
REFERENCES [dbo].[SPLX_GROUPS] ([SPLX_GROUP_ID])
GO
ALTER TABLE [dbo].[SPLX_GROUP_MEMBERSHIP] CHECK CONSTRAINT [FK_SPLX_GROUP_MEMBERSHIP_SPLX_GROUPS]
GO
/****** Object:  ForeignKey [FK_SPLX_GROUP_MEMBERSHIP_SPLX_USERS]    Script Date: 08/16/2010 22:06:31 ******/
ALTER TABLE [dbo].[SPLX_GROUP_MEMBERSHIP]  WITH CHECK ADD  CONSTRAINT [FK_SPLX_GROUP_MEMBERSHIP_SPLX_USERS] FOREIGN KEY([SPLX_USER_ID])
REFERENCES [dbo].[SPLX_USERS] ([SPLX_USER_ID])
GO
ALTER TABLE [dbo].[SPLX_GROUP_MEMBERSHIP] CHECK CONSTRAINT [FK_SPLX_GROUP_MEMBERSHIP_SPLX_USERS]
GO
/****** Object:  ForeignKey [FK_SPLX_NESTED_GROUPS_CHILD_SPLX_GROUPS]    Script Date: 08/16/2010 22:06:31 ******/
ALTER TABLE [dbo].[SPLX_NESTED_GROUPS]  WITH CHECK ADD  CONSTRAINT [FK_SPLX_NESTED_GROUPS_CHILD_SPLX_GROUPS] FOREIGN KEY([CHILD_GROUP_ID])
REFERENCES [dbo].[SPLX_GROUPS] ([SPLX_GROUP_ID])
GO
ALTER TABLE [dbo].[SPLX_NESTED_GROUPS] CHECK CONSTRAINT [FK_SPLX_NESTED_GROUPS_CHILD_SPLX_GROUPS]
GO
/****** Object:  ForeignKey [FK_SPLX_NESTED_GROUPS_PARENT_SPLX_GROUPS]    Script Date: 08/16/2010 22:06:31 ******/
ALTER TABLE [dbo].[SPLX_NESTED_GROUPS]  WITH CHECK ADD  CONSTRAINT [FK_SPLX_NESTED_GROUPS_PARENT_SPLX_GROUPS] FOREIGN KEY([PARENT_GROUP_ID])
REFERENCES [dbo].[SPLX_GROUPS] ([SPLX_GROUP_ID])
GO
ALTER TABLE [dbo].[SPLX_NESTED_GROUPS] CHECK CONSTRAINT [FK_SPLX_NESTED_GROUPS_PARENT_SPLX_GROUPS]
GO
/****** Object:  ForeignKey [FK_SPLX_RIGHT_ROLES_SPLX_UI_ELEMENTS]    Script Date: 08/16/2010 22:06:31 ******/
ALTER TABLE [dbo].[SPLX_RIGHT_ROLES]  WITH NOCHECK ADD  CONSTRAINT [FK_SPLX_RIGHT_ROLES_SPLX_UI_ELEMENTS] FOREIGN KEY([SPLX_UI_ELEMENT_RULE_ID])
REFERENCES [dbo].[SPLX_UI_ELEMENTS] ([SPLX_UI_ELEMENT_ID])
GO
ALTER TABLE [dbo].[SPLX_RIGHT_ROLES] NOCHECK CONSTRAINT [FK_SPLX_RIGHT_ROLES_SPLX_UI_ELEMENTS]
GO
/****** Object:  ForeignKey [FK_SPLX_RIGHT_ROLES_SPLX_VALIDATION_RULES]    Script Date: 08/16/2010 22:06:31 ******/
ALTER TABLE [dbo].[SPLX_RIGHT_ROLES]  WITH NOCHECK ADD  CONSTRAINT [FK_SPLX_RIGHT_ROLES_SPLX_VALIDATION_RULES] FOREIGN KEY([SPLX_UI_ELEMENT_RULE_ID])
REFERENCES [dbo].[SPLX_VALIDATION_RULES] ([SPLX_VAILDATION_RULE_ID])
GO
ALTER TABLE [dbo].[SPLX_RIGHT_ROLES] NOCHECK CONSTRAINT [FK_SPLX_RIGHT_ROLES_SPLX_VALIDATION_RULES]
GO
/****** Object:  ForeignKey [FK_SPLX_TASK_TRUSTEE_SPLX_GROUPS]    Script Date: 08/16/2010 22:06:31 ******/
ALTER TABLE [dbo].[SPLX_TASK_TRUSTEE]  WITH NOCHECK ADD  CONSTRAINT [FK_SPLX_TASK_TRUSTEE_SPLX_GROUPS] FOREIGN KEY([TRUSTEE_USER_GROUP_ID])
REFERENCES [dbo].[SPLX_GROUPS] ([SPLX_GROUP_ID])
GO
ALTER TABLE [dbo].[SPLX_TASK_TRUSTEE] NOCHECK CONSTRAINT [FK_SPLX_TASK_TRUSTEE_SPLX_GROUPS]
GO
/****** Object:  ForeignKey [FK_SPLX_TASK_TRUSTEE_SPLX_TASKS]    Script Date: 08/16/2010 22:06:31 ******/
ALTER TABLE [dbo].[SPLX_TASK_TRUSTEE]  WITH CHECK ADD  CONSTRAINT [FK_SPLX_TASK_TRUSTEE_SPLX_TASKS] FOREIGN KEY([SPLX_TASK_ID])
REFERENCES [dbo].[SPLX_TASKS] ([SPLX_TASK_ID])
GO
ALTER TABLE [dbo].[SPLX_TASK_TRUSTEE] CHECK CONSTRAINT [FK_SPLX_TASK_TRUSTEE_SPLX_TASKS]
GO
/****** Object:  ForeignKey [FK_SPLX_TASK_TRUSTEE_SPLX_USERS]    Script Date: 08/16/2010 22:06:31 ******/
ALTER TABLE [dbo].[SPLX_TASK_TRUSTEE]  WITH NOCHECK ADD  CONSTRAINT [FK_SPLX_TASK_TRUSTEE_SPLX_USERS] FOREIGN KEY([TRUSTEE_USER_GROUP_ID])
REFERENCES [dbo].[SPLX_USERS] ([SPLX_USER_ID])
GO
ALTER TABLE [dbo].[SPLX_TASK_TRUSTEE] NOCHECK CONSTRAINT [FK_SPLX_TASK_TRUSTEE_SPLX_USERS]
GO
/****** Object:  ForeignKey [FK_SPLX_UI_ELEMENTS_SPLX_UI_ELEMENTS]    Script Date: 08/16/2010 22:06:31 ******/
ALTER TABLE [dbo].[SPLX_UI_ELEMENTS]  WITH CHECK ADD  CONSTRAINT [FK_SPLX_UI_ELEMENTS_SPLX_UI_ELEMENTS] FOREIGN KEY([UIE_PARENT_ID])
REFERENCES [dbo].[SPLX_UI_ELEMENTS] ([SPLX_UI_ELEMENT_ID])
GO
ALTER TABLE [dbo].[SPLX_UI_ELEMENTS] CHECK CONSTRAINT [FK_SPLX_UI_ELEMENTS_SPLX_UI_ELEMENTS]
GO
/****** Object:  ForeignKey [FK_SPLX_VALIDATION_RULES_SPLX_UI_ELEMENTS]    Script Date: 08/16/2010 22:06:31 ******/
ALTER TABLE [dbo].[SPLX_VALIDATION_RULES]  WITH CHECK ADD  CONSTRAINT [FK_SPLX_VALIDATION_RULES_SPLX_UI_ELEMENTS] FOREIGN KEY([SPLX_UI_ELEMENT_ID])
REFERENCES [dbo].[SPLX_UI_ELEMENTS] ([SPLX_UI_ELEMENT_ID])
GO
ALTER TABLE [dbo].[SPLX_VALIDATION_RULES] CHECK CONSTRAINT [FK_SPLX_VALIDATION_RULES_SPLX_UI_ELEMENTS]
GO
/****** Object:  ForeignKey [FK_SPLX_VALIDATION_RULES_SPLX_VALIDATION_RULES]    Script Date: 08/16/2010 22:06:31 ******/
ALTER TABLE [dbo].[SPLX_VALIDATION_RULES]  WITH CHECK ADD  CONSTRAINT [FK_SPLX_VALIDATION_RULES_SPLX_VALIDATION_RULES] FOREIGN KEY([VR_PARENT_ID])
REFERENCES [dbo].[SPLX_VALIDATION_RULES] ([SPLX_VAILDATION_RULE_ID])
GO
ALTER TABLE [dbo].[SPLX_VALIDATION_RULES] CHECK CONSTRAINT [FK_SPLX_VALIDATION_RULES_SPLX_VALIDATION_RULES]
GO
