<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Suplex.Api.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Suplex.Api.SuplexApi">
        <endpoint address="" behaviorConfiguration="RestServiceEndpointBehavior"
          binding="webHttpBinding" bindingConfiguration="RestServiceBindingConfig"
          contract="Suplex.Api.ISuplexApi" />
      </service>
    </services>
    <!--<extensions>
      <behaviorExtensions>
        <add name="SuplexBehaviorExtention"  type="Suplex.Api.SuplexBehaviorExtention, Suplex.Api"/>
      </behaviorExtensions>
    </extensions>-->
    <bindings>
      <webHttpBinding>
        <binding name="RestServiceBindingConfig">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="None" proxyCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <!--<behavior name="RestServiceEndpointBehavior" >
          <SuplexBehaviorExtention></SuplexBehaviorExtention>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>-->
        <behavior name="RestServiceEndpointBehavior">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <windowsAuthentication allowAnonymousLogons="False" includeWindowsGroups="True"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <applicationSettings>
    <Suplex.Api.Properties.Settings>
      <setting name="DatabaseName" serializeAs="String">
        <value>sentosa_testa</value>
      </setting>
      <setting name="DatabaseUser" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabasePassword" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseServer" serializeAs="String">
        <value>(local)\devo</value>
      </setting>
    </Suplex.Api.Properties.Settings>
  </applicationSettings>

  <system.web>
    <customErrors mode="Off"/>
  </system.web>
</configuration>
